.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color:black;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  color: #923a3f;
  text-decoration: none;
}

body {
  transition: all 1.2s ease;
  animation: me-pinte 5s infinite;
  background: rgb(153, 245, 48);
  font-family: 'Montserrat';
}

.meioTela {
  font-family: 'Montserrat';
  font-weight: bold;
  margin-left: 2%;
  text-align: center;
  font-size: calc(1em + 10vw);
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #4d4d4d;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  
  .dropdownMenu > .dropdownBotao {
    background-color: #333;
    height: 50px;
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.dropdownBotao {
  font-size: 18px;
  color: white;
  border: none;
  background-color: #4d4d4d;
}

.dropdownMenu {
  position: relative;
  display: inline-block;
}

.dropdownConteudo {
  display: none;
  text-decoration-line: none;
  position: relative;
  min-height: 10px;
  z-index: 1;
}

.dropdownConteudo a {
  animation: me-pinte 5s infinite;
  min-height: 800px;
  background-color: white;
}

.dropdownConteudo a:hover {
  
}

.dropdownMenu:hover .dropdownConteudo {
  display: block;
}

.dropdown:hover .dropdownBotao {
  background-color: #4d4d4d;
}
